.navbar {
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 5rem;
    height: 4rem;
}

.menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #ffffff;
}

.menu>li:hover {
    cursor: pointer;
    color: var(--yellow)
}

@media screen and (max-width: 768px) {
    .navbar>:nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .menu{
        flex-direction: column;
        background-color: var(--appaColor);
        padding: 2rem;
    }
}
